/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#777;
  text-align:center;
  transition: all 0.2s;
}

.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
}
  
#notice{
  background-color: pink;
  position: absolute;
  right: 2rem;
  top: 2rem;
  box-shadow: 0.1rem 0.1rem #888888;
  padding: 0.3rem;
}

#flash_notice{
  display: none;
}

.item-card{
  padding: 0.25rem 1rem;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  box-shadow: 0 0 0.8px rgba(0, 0, 0, 0.9);
  margin: 0.5rem 0;
  white-space: nowrap;
  margin-bottom: 0.2rem;
}

.item-card-header{
  display: flex
}
